<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">-Photo Sharer.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/dash">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/upload">Upload Picture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Log Out</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>




    <div class="container mt-5">


        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem; text-align: center;">
                        <div class="card-header">TOTAL PICTURES</div>
                        <div class="card-body">
                            <h2 class="card-title">
                                <%=picCount %>
                            </h2>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;  text-align: center;">
                        <div class="card-header">TOTAL USERS</div>
                        <div class="card-body">
                            <h2 class="card-title">
                                <%=userCount %>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;  text-align: center;">
                        <div class="card-header">UP VOTES</div>
                        <div class="card-body">
                            <h2 class="card-title">
                                <%=sumLikes %>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;  text-align: center;">
                        <div class="card-header">DOWN VOTES</div>
                        <div class="card-body">
                            <h2 class="card-title">
                                <%=sumDown %>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container mt-5  col-md-10 form-group">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">TITLE</th>
                        <th scope="col">IMG</th>
                        <th scope="col">UP VOTE</th>
                        <th scope="col">DOWN VOTE</th>
                    </tr>
                </thead>
                <tbody>


                    <%if(picData.length!=0){%>
                        <% var i=1; %>
                            <% picData.forEach(data=>{ %>


                                <tr class="table-light">
                                    <th scope="row">
                                        <%=i; %>
                                    </th>
                                    <td>
                                        <%=data.title %>
                                    </td>

                                    <td>
                                        <img class="" style="width: 80px;" src="<%= data.img %>">

                                    </td>
                                    <td>
                                        <%=data.up %>
                                    </td>
                                    <td>
                                        <%=data.down %>
                                    </td>
                                </tr>
                                <% i++; }) %>
                                    <% } else{ %>
                                        <tr>
                                            <td colspan="7">No Data Found</td>
                                        </tr>
                                        <% } %>







                </tbody>
            </table>
        </div>



    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>

</html>